//
//  DevSecrets.xcconfig
//
//  Create a copy of this file and name it "DevSecrets.xcconfig" 
//  Place it in the root directory of AdyenNetworking.
//
//  DevSecrets.xcconfig is in the .gitignore but make sure you don't accidentally commit any secrets.
//

// Required values for EndToEndTests

// Generate an auth bearer on "https://gorest.co.in/"
GO_REST_AUTH_BEARER = "Bearer YOUR_TOKEN"
