//
//  DevSecrets.xcconfig.template
//
//  Create a copy of this file, name it "DevSecrets.xcconfig" 
//  and place it in the root directory of AdyenNetworking.
//
//  DevSecrets.xcconfig is in the .gitignore but make sure you don't accidentally commit any secrets.
//

// Generate an auth bearer on "https://gorest.co.in/"
GO_REST_AUTH_BEARER = "Bearer YOUR_TOKEN"
