//
//  Secrets.xcconfig
//  AdyenNetworking
//
//  Created by Alexander Guretzki on 18/07/2025.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

// To be able to run EndToEndTests you need to have following file in the root of your project
// Find the required content in the "DevSecrets.xcconfig.template" file in the root of the project
#include? "DevSecrets.xcconfig"
